.sign-in-form-container {
  max-width: 360px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.sign-in-form-header {
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}