.measurements-page {
  max-width: 100wh;
  min-height: calc(100vh - 64px);
}

.tree-menu-drawer .ant-drawer-body {
  padding: 0;
  overflow: hidden;
}

.tree-menu-container {
  max-height: 100%;
}

.map-table-container {
  height: calc(100vh - 64px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}