.auth-data-card, .data-collection-card, .delete-data-card, .disable-automation-card, .card-actions {
  max-width: 400px;
  min-width: 360px;
  margin-bottom: 20px;

  .field-title {
    margin-bottom: 16px;
  }

  .form-item {
    margin-bottom: 16px;
  }
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}